<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/images/favicon.png">
  <title>Dashboard | Tisoy Trading</title>
  <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=111">
  <link rel="stylesheet" href="/assets/css/rap.css?ver=111">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
  <style>
    body {
      padding: 15px;
    }
    .logout-btn {
      float: right;
      margin-right: 10px;
      margin-top: 5px;
    }
    .table-responsive {
      overflow-x: auto;
    }
  </style>
</head>

<body class="user-dashboard">
  <div class="container">
    <div class="logout-btn">
      <a href="/login" class="btn btn-primary">Logout</a>
    </div>
    <h1>User Request Page || <a href="/admin">Admin</a></h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Unique_Id</th>
            <th>Token_Address</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% if (typeof userRequests !== 'undefined' && userRequests.length > 0) { %>
            <% userRequests.forEach(userRequest => { %>
              <tr>
                <td><%= userRequest.uniqueId %></td>
                <td><%= userRequest.tokenAddress %></td>
                <td>$<%= userRequest.amount %> USDT</td>
                <td><%= userRequest.date %></td>
                <td><%= userRequest.time %></td>
              </tr>
            <% }); %>
          <% } else { %>
            <tr>
              <td colspan="5" class="no-users">No user requests found.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="user-wraper">
    <div class="container">
      <div class="d-flex">
        <div class="user-sidebar">
          <div class="user-sidebar-overlay"></div>
          <div class="user-box d-none d-lg-block">
            <div class="gaps-1x"></div>
          </div>
          <ul class="user-icon-nav">
            <li><a href="/admin"><em class="ti ti-dashboard"></em>Users_Info</a></li>
            <li><a href="/userRequest"><em class="ti ti-user"></em>User_Request</a></li>
          </ul>
          <div class="user-sidebar-sap"></div>
          <ul class="user-nav">
            <li>Contact Support<span>help@tisoy.cc</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <span class="footer-copyright">
            Copyright 2023, <a href="#">Tisoy Trading</a>.
            All Rights Reserved.
          </span>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery.bundle.js?ver=111"></script>
  <script src="assets/js/script.js?ver=111"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
</body>
</html>
